{% extends 'store/main.html' %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h2>User information</h2>
            <form action="{% url 'me' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-6">
                            <label for="id_username">Username</label>
                            <input type="text" name="username" id="id_username" class="form-control" value="{{ user.account.username }}" required>
                        </div>
                        <div class="col-lg-6">
                            <label for="id_password">Password</label>
                            <input type="password" name="password" id="id_password" class="form-control" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <label for="id_firstname">Firstname</label>
                            <input type="text" name="firstname" id="id_firstname" class="form-control" value="{{ user.fullname.firstname }}" required>
                        </div>
                        <div class="col-lg-6">
                            <label for="id_lastname">Lastname</label>
                            <input type="text" name="lastname" id="id_lastname" class="form-control" value="{{ user.fullname.lastname }}" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <label for="id_email">Email</label>
                            <input type="email" name="email" id="id_email" class="form-control" value="{{ user.account.email }}" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2">
                            <label for="id_no_house">No House</label>
                            <input type="text" name="no_house" id="id_no_house" class="form-control" value="{{ user.address.no_house }}" required>
                        </div>
                        <div class="col-lg-4">
                            <label for="id_street">Street</label>
                            <input type="text" name="street" id="id_street" class="form-control" value="{{ user.address.street }}" required>
                        </div>
                        <div class="col-lg-2">
                            <label for="id_city">City</label>
                            <input type="text" name="city" id="id_city" class="form-control" value="{{ user.address.city }}" required>
                        </div>
                        <div class="col-lg-2">
                            <label for="id_state">State</label>
                            <input type="text" name="state" id="id_state" class="form-control" value="{{ user.address.state }}" required>
                        </div>
                        <div class="col-lg-2">
                            <label for="id_zipcode">Zipcode</label>
                            <input type="text" name="zipcode" id="id_zipcode" class="form-control" value="{{ user.address.zipcode }}" required>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Update</button>
            </form>
        </div>
    </div>
{% endblock content %}